:root {
    --primary-color: darkblue;   /* nav & h1 */
    --text-color: white;         /* links */
    --aside-bg: #eee;            /* aside */
    --aside-border: rgba(0,0,0,0.2);
    --aside-text: #333;
    --shadow-color: gray;        /* box-shadow img */
    --img-border: 1px solid black;
    --nav-padding: 10px;
    --link-padding: 20px;
}

nav {
    background-color: var(--primary-color);
    padding: var(--nav-padding);
}

nav a {
    color: var(--text-color);
    display: block;
    padding: var(--link-padding)x;
}

h1 {
    color: var(--primary-color);
}

img {
    width: 150px;
    height: auto;
    border: var(--img-border);
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow-color);
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid var(--aside-border);
    padding: 1rem;
    background-color: var(--aside-bg);
    color: ar(--aside-text);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}


